

li a:hover
{
	color:red;

	
   

}
li {
	display: inline;
	margin: 100px;

}

h1{
	text-align: center;
	background: lightyellow;
	padding: 13px;
}

#ftr{
	text-align: center;
	background-color: green;
	color:black;
	padding: 7px;

}
div hel1{
	text-align: left;
	margin-left: 35px;
	margin-right: 35px;
	}
h3{
	background: lightyellow;
	font-style: italic;
	border-width: 300px;
}
nav{
	list-style: none;

	background-color: lightyellow;
	border-width: 15px;

	
}
.li1{
	margin-left: 20px;
	padding: 15px;
}
.ref{
	margin-left: 100px;
}